* {
  margin: 0;

  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: column;
  flex: 1; 
}
body {
  margin: 0 10% 0 10%;
  padding: 0;
  max-width: 1920px;
  justify-content: center;
  background-color: rgb(254, 252, 251);
}
nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
nav.logo {
  justify-content: start;
}
nav.nav-center {
  justify-content: center;
}
.logo img {
  width: 130px;
  height: 24px;
}
.nav-center a {
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-right: 36px;
  text-decoration: none;
}
.nav-right {
  display: flex;
  margin-right: 10%;
  text-decoration: none;
}
.nav-right .login a {
  color: rgb(253, 141, 58);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-right: 36px;
  text-decoration: none;
}
.nav-right .sign-up a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 16px;
  background-color: rgb(250, 116, 54);
  padding: 1rem 3rem;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0px 8px 16px 0px rgba(250, 116, 54, 0.24);
}
main {
  display: flex;
  background-color: #fefcfb;
  /* flex: 1; */
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}

.content-img {
  display: flex;
  margin-top: 5%;
  margin-bottom: 7%;
  /* flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0; */
}

.content .contentone {
  margin-top: 165px;
  /* margin-left: 150px; */
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 45px;
  justify-content: start;
  padding-bottom: 50px;
}

.journey {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 45px;
  color: rgb(250, 116, 54);
}
/* .main .content-img{
  flex: 2; 
/* } */
.content .contenttwo {
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 57px;
}
.content .discovernow {
  font-family: "Poppins", sans-serif;
  color: rgb(250, 116, 54);
  font-weight: 500;
  font-size: 18px;
  border: 1px solid rgb(250, 116, 54);
  border-radius: 5;
  background-color: rgb(254, 252, 251);
  padding: 14px 28px;
  border-radius: 5px;
}
.holder {
  background-color: white;
  padding: 2rem;
  border-radius: 2px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.hmain {
  position: relative;
  right: 257px;
  margin-bottom: 100px;
  /* width: 100%; */
  display: flex;
  align-items: center;
}
.content-holder {
  display: flex;
  justify-content: space-around;
}
.select-group {
  display: flex;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
}
.label {
  font-size: 16px;
  font-weight: 500;
  color: #222222;
}
.sub-label {
  margin-top: 10%;
  font-size: 12px;
  color: #666666;
}
.option {
  margin: 0 45px;
}
.option span {
  color: #fa7436;
}
.button-holder a {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: white;
  background-color: #fa7436;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 2px;
}
.button-holder {
  margin-top: 8px;
}
section {
  display: flex;
  min-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  background-color: #f7f8fc;
  margin-left: -200px;
  margin-right: -200px;
}
.bg {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.content-one {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  color: #222222;
  line-height: 54px;
  position: relative;
  left: 272px;
  margin-bottom: 30px;
}
.content-one span {
  color: #fa7436;
}
.content-two {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}
.element {
  position: relative;
  bottom: 148px;
  left: 818px;
}
.bottom-container {
  display: flex;
  margin-top: 1rem;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.product-title {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 20px;
}
.product-desc {
  padding: top 10px;
  color: #666666;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-bottom: 5px;
}

.product-card {
  flex: 1;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
}
.product-image {
  display: flex;
  aspect-ratio: 1;
  align-items: center;
  margin-bottom: 10px;
}

.sectionone {
  display: flex;
  min-width: 100%;
  background-color: #fefcfb;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  /* margin-left: -200px;
  margin-right: -200px; 
 */
}
.bgtwo {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.bgtwocone {
  position: relative;
  left: 381px !important;
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  color: #222222;
  line-height: 54px;
  margin-bottom: 25px;
  /*position: relative;
  left: 272px;
  margin-bottom: 30px;/*  */
}
.bgtwocone span {
  color: #fa7436;
}
.bgtwoctwo {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #666666;
  margin-bottom: 3rem;
}
.bgtwobottom {
  display: flex;
  margin-top: 1rem;
}

.bg2grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.product-title2 {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 20px;
}
.product-desc2 {
  padding: top 10px;
  color: #666666;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-bottom: 5px;
}

.product-card2 {
  flex: 1;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
}
.product-image2 {
  display: flex;
  aspect-ratio: 1;
  align-items: center;
  margin-bottom: 10px;
}
.price0 {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: #222222;
  padding-left: 3px;
}
.price1 {
  position: relative;
  left: 10px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #666666;
  padding-left: 3;
}
.price2 {
  position: relative;
  left: 108px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #666666;
  padding-left: 3;
}
.price3 {
  position: relative;
  left: 11px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: FA7436;
  background-color: #ffe7db;
}
.arrow1 {
  display: flex;
  justify-content: center;
}
.sectionthree {
  display: flex;
  min-width: 100%;
  background-color: white!important;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  /* margin-left: -200px;
  margin-right: -200px; */
}
.bgthree {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.bgthreecone {
  position: relative;
  left: 469px !important;
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  color: #222222;
  line-height: 54px;
  margin-bottom: 25px;
}
.bgthreecone span {
  color: #fa7436;
}
.bgthreectwo {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #666666;
  margin-bottom: 3rem;
}
.bgthreebottom {
  display: flex;
  margin-top: 1rem;
}

.bgthreegrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8rem;
}
/* .bgthreegrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  gap: 2rem; 
  justify-content: flex-start; 
} */
.product-title3 {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 20px;
}
.product-desc3 {
  padding: top 10px;
  color: #666666;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-bottom: 5px;
}

.product-card3 {
  flex: 1;
  background-color: white;
  padding: 0px 0px 0px 5px;
  border-radius: 16px;
}
.product-image3 {
  display: flex;
  aspect-ratio: 1;
  align-items: center;
  margin-bottom: 10px;
}
/* 

.price32{
  position: relative;
  left: 108px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #666666;
  padding-left: 3;

}
.price33{
  position: relative;
  left: 11px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: FA7436;
  background-color: #FFE7DB;
} */
.price30 {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: #222222;
  padding-left: 3px;
}
.price31 {
  position: relative;
  left: 10px;
  display: inline-block;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #666666;
  padding-left: 3;
}
.money3 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: #fa7436;
}
.rating3 {
  display: inline-block;
  position: relative;
  left: 208px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #666666;
  padding-left: 3;
}
.elementtwo {
  display: flex;
  position: relative;
  bottom: 189px;
  left: 1000px;
}
.arrow2 {
  position: relative;
  top: 182px;
  left: 148px;
}
.secfour {
  display: flex;
  background-color: #f7f8fc;;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  max-height: 600px;
  /* margin-left: -200px;
  margin-right: -200px; */
}
.bgfour{
  margin-top: 8rem;
  margin-bottom: 8rem; 
}
.bgfourcontent{
  display: flex;
  flex: 1;
}
.bgfourleftcontentone {
  /* margin-top: 165px; */
  /* margin-left: 150px; */
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 48px;
  justify-content: start;
  align-items: center;
  padding-bottom: 50px;
  
}
.bgfourleftcontentone span{
color: #fa7436;
}
.bgfourleftcontenttwo {
  max-height: 50vh;
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.bgfourrightone{
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #444444;
  background-color:  white;
  padding: 3rem 6rem 3rem 3rem;
  border-radius: 10px;
  margin-left: 8rem;    
  position: relative;
  z-index: 2;   
  box-shadow: 0px 100px 80px 0px rgba(0,0,0,0.02); 
  box-shadow: 0px 64.81px 46.85px 0px rgba(0,0,0,0.0152);
  box-shadow: 0px 38.52px 25.48px 0px rgba(0,0,0,0.0121);
  box-shadow: 0px 20px 13px 0px rgba(0,0,0,0.01);
  box-shadow: 0px 20px 13px 0px rgba(0,0,0,0.01);
  box-shadow: 0px 1.85px 3.15px 0px rgba(0,0,0,0.0048);

}
.bgfourrighttwo{
  position: relative;
  bottom: 129px;
  left: 20px;
  z-index: 1;
  font-family: "Poppins", serif;
 font-weight: 500;
 font-style: normal;
 font-size: 16px;
 color: #444444;
 background-color:  white;
 padding: 3rem 5rem 1.5rem 5rem;
 border-radius: 10px;
 margin-left: 8rem;
  opacity: 0.5;
  box-shadow: 0px 10px 30px 0px rgba(34,34,34,0.35);
}
 
.mike
{
  margin-top: 30px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: #222222;
}
.mikel{
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}
.face{
position: relative;
z-index: 3;
bottom: 500px;
left: 100px;
}
.element3{
  position: relative;
  bottom: 635px;
left: 670px;
}


.secfive {
  display: flex;
  min-width: 100%;
  background-color: #fefcfb;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  /* margin-left: -200px;
  margin-right: -200px; 
 */
}
.bgfive {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.bgfivecone {
  position: relative;
   left: 381px /*!important*/; 
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  color: #222222;
  line-height: 54px;
  margin-bottom: 25px;
  /*position: relative;
  left: 272px;
  margin-bottom: 30px;*/
}
.bgfivecone span {
  color: #fa7436;
}

.bgfivebottom {
  display: flex;
  margin-top: 1rem;
}

.bgfivegrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
 
}
.product-titlefive{
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 20px;
}
.product-cardfive {
   flex: 1; 
  background-color: white;
   padding: 2rem; 
  border-radius: 8px;
}
.product-imagefive {
  display: flex;
   aspect-ratio: 1; 
  align-items: center;
  margin-bottom: 10px;
}
.fivetone{
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #222222;
}
.fivettwo{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #999999;
}

.arrowfive {
  display: flex;
  justify-content: center;
}